/* Your styles here */
body{
    width: 600px;
    background-color: #0E0E0E;
;    -webkit-text-size-adjust: none;
   text-align: center;
   margin: 0 auto;
}

body p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.65;
    color: #393d41;
    text-align: center;
    padding: 0 2em;
}
/*********************************************************Header*************************************************/
header{
    background: #000000;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
}

header img{
    width: 50%;
}

/******************************************************NAV******************************************/
nav{
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 35em;
    align-content: center;
}

nav h1{
    text-align: center;
    padding: 0 2em;
}


h1, h3{
    color: #2BA4CB;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}

h1{font-size: 2em;}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: #f04c2f;
    border-radius: 10px;
    width: auto;
    margin-top: 3em;
    padding: 10px;
}

/************************************************************Article**************************************************/

article{
    background-color: white;
    margin: -2em 0;
    padding: 1em 0;
    padding-bottom: 3em;

}

.titoli_paragrafi{
    padding: 1em 0;
}

.titoli_paragrafi h3{
    font-size: 1.9em;
}

.titoli_paragrafi img{
    border-radius: 50%;
}


/******************************************************sezione Epicode garantisce*********************************************/
section{
    background-color: #e22d0e;
    padding: 2em;
    color: white;
}

section h2{
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}

section cite{
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.65;
    text-align: center;
    padding: 1em 2em;
}

section figcaption{
    margin: 2em 0 0 0;
    font-size: 1.7rem;
    text-align: center;
}

section p{
    color: white;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

/*********************************************************************aside*************************************************/


aside{
    padding: 3em 0;
    background-color: white;
}

.articoli_collerati{
    margin: 2em 2em;
    box-shadow: 1px 1px 1px #393d41;
}

.articoli_collerati img{
    width: 100%;
}

/***********************************************Footer*************************************************************/

footer {
    background-color: #25A2C5;
    margin: -2em 0;
    padding: 1em 0;
}
hr{ margin: 0 7em;}

footer h2{
    color: white;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}

footer ol{
    list-style: none;
    padding: 0;
}

footer a, li, p{
    color: white;
    
}


footer p{
    color: white;
    font-size: 1em;
}
